/*
* Project: NAP 2017
* Author: Marcelo Glacial
* Starts on: 23/01/2017
*/


/*  General
-------------------------------------------------- */
body {
  position: relative;

  width: 100%;
  height: 100%;

  font-family: 'Lato', sans-serif;
  color: #808285;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h3 {
  color: #00BDD6;
}
p {
  line-height: 1.8em;
}
ul {
  list-style: none;
  padding: 0;
}

body.logged .navbar-fixed-top {
  margin-top: 32px;
}

/*  Header hero
-------------------------------------------------- */
#Hero {
  background: url("../img/hero_bg.png") fixed bottom;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 85vh;
}
#Hero h1 {
  text-indent: -99999px;
  background: url("../img/logo_white.png") no-repeat;
  background-size: contain;
  width: 400px;
  height: 400px;

  margin: 150px auto 0 auto;
}
.arrow {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../img/arrow.png");
  background-size: cover;
  text-indent: -99999px;
  bottom: 50px;
  left: 48%;
  -webkit-animation: bounce 2s infinite ease-in-out;
}
@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(-20px); }
  80% { -webkit-transform: translateY(-10px); }
}


/*  Navbar
-------------------------------------------------- */
.navbar {
  background: #FFF;
  border: none;
  text-transform: lowercase;
  border-radius: 0;
  min-height: 100px;
}
#navbar a {
  color: #00171f;
  font-size: 140%;
  margin-top: 20px;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
#navbar .active a,
#navbar a:hover {
  background: #F5F5F5;
}
.navbar-brand  {
  display: none;
}
.navbar-fixed-top .navbar-brand  {
  display: block;
}
a.navbar-brand  {
  height: 55px;
  margin-top: 20px;
  padding: 0 250px 0 50px;
}

/*  Content
-------------------------------------------------- */
.line {
  display: block;
  margin: 5px auto;
  width: 100px;
  height: 5px;
  background: #00BDD6;
}
#Quem, #Equipe, #Servicos, #Contato {
  padding-top: 120px;
}


/*  Quem Somos
-------------------------------------------------- */
#Quem h2 {
  padding: 40px 0 20px 20px;
}
#Quem .line {
  display: none;
}

/*  Nossa Equipe
-------------------------------------------------- */
#Equipe {
  background: url("../img/equipe_bg.png") no-repeat fixed center;
  background-size: 40%;
}
#Equipe .card {
  padding: 40px;
}
#Equipe img {
  width: 100px;
  height: 100px;
}
#Equipe h3 {
  line-height: 130%;
  margin-bottom: 0;
}

/*  Entre em Contato
-------------------------------------------------- */
#Contato {
  background: url("../img/contato_bg.png") no-repeat bottom center;
  background-size: 80%;
  padding: 20px;
}
#Contato a {
  display: inline-block;
  padding: 10px 0;
}
#Contato address {
  padding-top: 30px;
}
#Contato iframe {
  min-width: 100%;
  min-height: 600px;
  padding: 50px 0;
}

/*  Footer
-------------------------------------------------- */
#Foot {
  padding: 20px;
  color: #FFF;
  background: #00BDD6;
}
#Foot a {
  color: #FFF;
}



/*
Responsive Mode (320, 768, 1024, 1200)
=======================================================
*/


@media (max-width: 1200px) {
  a.navbar-brand {
    padding-right: 50px;
  }
  #navbar a {
    font-size: 110%;
  }
}


@media (max-width: 768px) {
  body {
    font-size: 1.7em;
    line-height: 2em;
  }
  body.logged #wpadminbar {
    position: fixed;
  }
  body.logged .navbar-fixed-top {
    margin-top: 46px;
  }
  body.logged #Quem, body.logged #Equipe, body.logged #Servicos, body.logged #Contato {
    padding-top: 166px;
  }

  #Hero {
    display: none;
  }
  .navbar {
    border-bottom: solid 1px #F0F0F0;
  }
  .navbar-default .navbar-toggle {
    border: none;
    margin: 30px 15px 0 0;
  }
  .navbar-toggle .icon-bar {
    width: 35px;
    margin-bottom: 6px;
  }
  .navbar-default .navbar-toggle:hover {
    background: none;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    max-height: 100%;
    padding-bottom: 20px;
  }
  a.navbar-brand {
    height: 70px;
    padding: 25px 15px;
    margin: 0;
  }
  #Main {
    text-align: center;
  }
  #Quem, #Equipe, #Servicos, #Contato {
    padding: 120px 30px 50px 30px;
  }
  #Quem {
    color: #FFF;
    text-align: justify;
    background: url("../img/hero_bg.png") top no-repeat;
    background-size: cover;
  }
  #Quem h2 {
    text-align: center;
    padding: 0 0 20px 0;
  }
  #Equipe {
    background-size: 80%;
  }
  #Servicos {
    background: url("../img/hero_bg.png") no-repeat top right;
    background-size: cover;
    color: #FFF;
    text-align: left;
  }
  #Servicos h3 {
    color: #00171f;
    font-weight: bold;
  }
  #Servicos .line {
    background: #FFF;
    margin-bottom: 70px;
  }
  #Servicos .card {
    padding-bottom: 30px;
  }
}


@media (max-width: 320px) {
  body {
    font-size: 1.5em;
  }
  body.logged #Quem, body.logged #Equipe, body.logged #Servicos, body.logged #Contato {
    padding-top: 136px;
  }
  #Quem, #Equipe, #Servicos, #Contato {
    padding-top: 90px;
  }
  .navbar {
    min-height: 50px;
  }
  a.navbar-brand {
    padding: 15px;
  }
  .navbar-default .navbar-toggle {
    margin: 18px 12px 0 0;
  }
  .navbar-toggle .icon-bar {
    width: 25px;
    margin-bottom: 2px;
  }
}
